- provide :title, '登录'
.page-header
  %h1 登录
.row
  .col-sm-4.col-sm-offset-4
    = form_for :session, url: sessions_path, html: { class: 'form-horizontal', role: 'form' } do |f|
      .form_group
        = f.label :name, '用户名', class: 'control-label'
        = f.text_field :name, class: 'form-control'
        %span.help-block
      .form_group
        = f.label :password, '密码', class: 'control-label'
        = f.password_field :password, class: 'form-control'
        %span.help-block
      = f.submit '登录', class: 'btn btn-primary btn-lg'
