%h2
  修改账号信息
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %div
    = f.label "用户名"
    %br/
    = f.text_field :username, :readonly => true
  %div
    = f.label "电子邮件"
    %br/
    = f.email_field :email
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      当前正在等待中的账号确认信息：#{resource.unconfirmed_email}
  %div
    = f.label "密码"
    %i （如果您不想修改密码则请留空）
    %br/
    = f.password_field :password, :autocomplete => "off"
  %div
    = f.label "确认密码"
    %br/
    = f.password_field :password_confirmation
  %div
    = f.label "当前密码"
    %i （我们需要您输入当前密码来确认修改以上内容）
    %br/
    = f.password_field :current_password
  %div= f.submit "更新"
%h3 删除我的账户
%p
  不满意我们的网站？ #{button_to "删除我的账户", registration_path(resource_name), :data => { :confirm => "您确定要这样做吗？账号一旦删除则不可恢复！" }, :method => :delete}
= link_to "后退", :back
