<header>
  <nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
    <div class='container'>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle'
          data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <%= link_to '西安Rubyist社区', root_path, id: 'logo', class: 'navbar-brand'  %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
        <ul class='nav navbar-nav'>
          <li><%= link_to '首页', root_path %></li>
          <li><%= link_to '认证会员', '#' %></li>
          <li><%= link_to '社区活动', '#' %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to '注册', signup_path %></li>
          <li><%= link_to '登录', signin_path %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
