<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title) %></title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
    <script src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'></script>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
    <div class='container'>
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle'
          data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <%= link_to '西安Rubyist社区', root_path, id: 'logo', class: 'navbar-brand'  %>
      </div>
      <ul class='nav navbar-nav'>
        <li><%= link_to '首页', root_path %></li>
        <li><%= link_to '认证会员', '#' %></li>
        <li><%= link_to '社区活动', '#' %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to '注册', '#' %></li>
        <li><%= link_to '登录', '#' %></li>
      </ul>
    </div>
  </nav>
</header>

<div class='container'>
  <%= yield %>

  <footer class='footer'>
    <small>Xi'an Rubyists, Copyright &copy; <%= Date.today.year %></small>
    <nav>
      <ul>
        <li><%= link_to '关于我们', about_path %></li>
        <li><%= link_to '联系我们', contact_path %></li>
      </ul>
    </nav>
  </footer>
</div>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
